@model BankOfSimba.ViewModels.BankAccountViewModel
@{
    ViewData["Title"] = "Index";
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bank of Simba</h1>
            <p class="lead">This bank is mine</p>
        </div>
    </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Account</th>
            <th scope="col">Balance</th>
            <th scope="col">Type of Annimal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Account)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td >@item.Name</td>
            <td>@item.Balance Zebra</td>
            <td>@item.AnimalType</td>
        </tr>
        }

    </tbody>
</table>
