@model Rascal.ViewModel.MessageViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Rascal Chat Client</h1>
        <br />
       @foreach (var item in Model.Messages)
       {
           <p>@item.Content </p>
       }
       

    </div>
