@model FoxClub.ViewModel.FoxViewModel
@{
    ViewData["Title"] = "Home Page";
}


    <div class="card-deck">
        @foreach (var item in Model.Foxes)
        {
            <partial name="_FoxCard" model="item" />
        }

    </div>