@model FoxClub.ViewModel.FoxViewModel 
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card-deck">
    @foreach (var item in Model.Foxes)
    {
        <partial name="_FoxCard" model="item" />
    }

</div>