@{
    ViewData["Title"] = "Login";
}

@model Fox
<div class="registerConteiner">
    <p>@ViewBag.UserMessage</p>

</div>
<div class="container h-80">
    <div class="row align-items-center h-100">
        <div class="col-3 mx-auto box-shadow">
            <div class="text-center">

                <img id="profile-img" class="rounded-circle profile-img-card" src="~/Image/greenfox.png" alt="..." />
                <h1>Welcome to Programmer Fox Club!</h1>
                <p>Please provide a name, so you can associate it to your pet!</p>
                <p id="profile-name" class="profile-name-card"></p>
                <form asp-action="Register" class ="form-signin">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />

                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
                </form><!-- /form -->
                <br />
            </div>
        </div>
    </div>
</div>