@using MvcStart.Models
@model Hello
@{ 

}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>holla</title>
        <link href="~/Content/site.css" rel="stylesheet" />
    </head>
    <body>
        <h1 style="color:@String.Format("#{0:X6}", new Random((int)DateTime.Now.Ticks).Next(0x1000000));">@Model.Hi</h1>

    </body>
    </html>

