@model Reddit.ViewModel.PostViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Trending posts</h1>


<table class="table">

    <tbody>
        @foreach (var item in Model.Posts)
        {
            
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Like)

                </td>
                <td>
                    <a href=" @Html.DisplayFor(modelItem => item.PostUrl)" target="_blank">@Html.DisplayFor(modelItem => item.Titel)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingDate)
                </td>

            </tr>
            }
        </tbody>
</table>

<a class="btn btn-info" asp-controller="Post" asp-action="CreatePost">Submit new post</a>